body{
    background-color: rgb(255, 118, 187);
}
#score{
    font-size: 35px;
    margin-left: 20px;
}
#timer{
    font-size: 30px;
    float: right;
    margin-right: 20px;
}
#sketchName{
  color: teal;  
}